.container{
    position: relative;
    margin: 100px;
    border: 2px dotted lightgray;
    padding: 100px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 50vh;
}

.box-content{
    overflow-y: scroll;
    color: black;
    height: 50vh;
    /* columns: 2; */
    column-gap: 10px;
    display: center;
    flex-wrap: wrap;
  }